/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.6rem
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 0.9rem;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}